<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение кода</title>
</head>
<body>
    <h1>Ваш номер: +{{phone}}.</h1>
    <h2>Вам необходимо авторизоваться. Введите код, высланный вам в telegram.</h2>
    <form action="/code" method="post">
        <input type="text" name="code" placeholder="Введите код" required>
        <input type="text" name="phone" hidden="hidden" value="{{phone}}">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>