<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>Ваш телефон: {{phone}}</h1>
    <h2>Вы авторизованы</h2>
    <h2>{{status}}</h2>
    <h2>Message: {{message}}</h2>
    <h2>
        <a href="/main?phone={{phone}}&action=ON">Включить</a> /
        <a href="/main?phone={{phone}}&action=OFF">Выключить</a>
        запись
    </h2>
    <h2>Выберите чаты, из которых необходимо сохранять сообщения</h2>
    {% for chat in chats %}
    <h3>{{chat}}</h3>
    {% endfor %}
</body>
</html>